@media screen and (max-width: 1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form-input {
        width: 150px;
        margin-top: 7px;
        font-size: 13px;
    }

    .btn {
        font-size: 13px;
    }

    .logo {
        font-size: 35px;
        text-shadow: 1.5px 1.5px black;
    }

    .nav-left {
        text-align: center;
    }

    .nav-left ul {
        margin: 0 13px;
    }

    .nav-left ul li {
        font-size: 15px;
        margin: 0 10px;

    }

    .main-content-home {
        height: 275px;
    }

    .tagline {
        width: 100vw;
        padding-left: 15px;
        padding-top: 25px;
    }

    .tagline h1 {
        font-size: 40px;
    }

    .tagline p {
        font-size: 20px;
    }

    .tagline button {
        width: 100px;
        height: 30px;
        font-size: 15px;
        border-radius: 15px;
    }

    .home-image {
        display: none;
    }

    .home-articles {
        padding-left: 0px;
        padding-top: 20px;
    }

    .articles h1 {
        font-size: 20px;
    }

    .home-article {
        flex-direction: column;
        padding: 15px;
    }

    .home-article-content {
        padding-left: 0px;
        padding-top: 7px;
    }

    .footer a {
        font-size: 10px;
    }
    
    .instagram a img {
        height: 23px;
        padding-right: 7px;
    }

    #text{
        width: 250px;
    }

    .about-para{
        flex-direction: column;
    }

    .about-vapour p{
        height: auto; width: auto;
        border: none;
        padding-top: 30px; padding-bottom: 60px; padding-left: 50px; padding-right: 50px;
        font-size: 23px;
    }

    .heading{
        padding: 0px;
        padding-top: 25px;
        border: none;
    }
    
    .heading h1{
        font-size: 40px;
        filter: drop-shadow(2px 2px rgb(31, 31, 31));
        padding-top: 10px;
    }

    .about-creator h3{
        font-size: 20px;
        padding-top: 0px;
    }

    .creator-pic{
        padding-left: 50px;
        display: flex;
        justify-content: center;
    }

    .creator-pic img{
        width: 200px;
    }

    #creator-name{
        font-size: 20px;
        padding-left: 40px;
    }

    #creator-info{
        padding-left: 40px;
    }

    .creator-socials{
        padding-left: 40px;
        margin-bottom: 10px;
    }

    .home-articles{
        padding-top: 40px;
    }

    .articles h1{
        padding-bottom: 20px;
    }

    .articles{
        flex-direction: column;
    }

    .font1 h1{
        font-size: 35px;
        display: flex;
        text-align: left;
    }

    .font2 p{
        font-size: 10px;
    }

    #margin-for-phone{
        margin: auto;
    }

    .blog-post-content p{
        font-size: 20px;
        width: 60vw;
    }

    .features h1{
        margin-left: 15px;
        margin-top: 15px;
        font-size: 20px;
        padding-top: 30px;
    }

    .author{
        flex-direction: column;
        align-items: flex-start;
    }

    #author-name{
        font-size: 18px;
    }

    .profile-description{
        flex-direction: column;
    }

    .insta-linked{
        margin-top: 10px;
    }

    .author-socials a img{
        height: 22px;
        padding-right: 15px;
    }
}



@media screen and (max-width: 285px) {
    .logo {
        font-size: 30px;
        text-shadow: 2px 2px black;
    }

    .nav-left ul {
        margin: 0px;
    }

    .nav-left ul li {
        font-size: 15px;
        margin: 0 8px;
    }

    .form-input {
        width: 120px;
        font-size: 11px;
    }

    .btn {
        font-size: 11px;
        width: 45px;
        padding-left: 5px;
    }

    #remove-for-fold {
        display: none;
    }

    .footer a {
        font-size: 14px;
    }

    .socials a img{
        height: 20px;
    }

    #text{
        width: 240px;
    }

    .heading h1{
        font-size: 33px;
        filter: drop-shadow(2px 2px rgb(31, 31, 31));
        padding-top: 10px;
    }

    .font2 p{
        font-size: 18px;
    }
}
